/* Menu.css */

.menu-bar {
    background-color: #C92C4E; /* Cor verde para o AppBar */

  }
  
  .toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    height: 7rem; /* Ajuste a altura do logo conforme necessário */
    margin-left: 1rem;
    margin: 1rem;
  }
  
  .menu-items {
    display: flex;
    gap: 1rem;
    margin-left: auto; /* Alinha os botões à direita */
  }
  
  .menu-items .nav-link {
    text-decoration: none;
    color: white;
    cursor: pointer; /* Cursor de ponteiro */
  }
  
  .menu-items .nav-link::after {
    content: ""; /* Necessário para mostrar o pseudo-elemento */
    position: absolute;
    left: 0; /* Inicia na esquerda */
    bottom: 0; /* Posiciona na parte inferior do link */
    width: 100%; /* A largura total do link */
    height: 2px; /* A altura da borda */
    background-color: #C92C4E; /* Cor da borda */
    transform: scaleX(0); /* Inicia com escala 0 (invisível) */
    transition: transform 0.2s ease; /* Transição suave */
    
}

.menu-items .nav-link:hover::after {
  transform: scaleX(1); /* Escala para 1 ao passar o mouse */

}
  
  /* Estilos para o menu sanduíche */
  .menu-button {
    display: none; /* Esconde o menu sanduíche por padrão */
  }
  
  @media (max-width: 768px) {
    .menu-items {
      display: none; /* Oculta os itens do menu em telas pequenas */
      flex-direction: column;
      position: absolute;
      top: 60px; /* Ajuste a posição conforme necessário */
      right: 0;
      background-color: #C92C4E;
      width: 100%;
      padding: 1rem;
      gap: 1rem;
    }
  
    .menu-items.open {
      display: flex; /* Exibe o menu quando está aberto */
    }
  
    .menu-button {
      display: block; /* Exibe o menu sanduíche em telas pequenas */
    }
  }
  