.menu-bar {
  background-color: #C92C4E; /* Cor de fundo */
  position: relative; /* Necessário para posicionar os itens do menu corretamente */
  z-index: 10; /* Certifique-se de que o menu está acima de outros elementos */
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo {
  height: 6rem; /* Ajuste a altura do logo conforme necessário */
  margin-left: 1rem;
}

.menu-items {
  display: flex;
  gap: 1rem;
  margin-left: auto; /* Alinha os botões à direita */
}

.menu-items .nav-link {
  text-decoration: none;
  color: white;
  cursor: pointer; /* Cursor de ponteiro */
  position: relative; /* Necessário para o efeito hover */
}

.menu-items .nav-link::after {
  content: ""; /* Necessário para mostrar o pseudo-elemento */
  position: absolute;
  left: 0; /* Inicia na esquerda */
  bottom: 0; /* Posiciona na parte inferior do link */
  width: 100%; /* A largura total do link */
  height: 2px; /* A altura da borda */
  background-color: #fff; /* Cor da borda */
  transform: scaleX(0); /* Inicia com escala 0 (invisível) */
  transition: transform 0.2s ease; /* Transição suave */
}

.menu-items .nav-link:hover::after {
  transform: scaleX(1); /* Escala para 1 ao passar o mouse */
}

/* Estilos para o menu sanduíche */
.menu-button {
  display: none; /* Esconde o menu sanduíche por padrão */
}

@media (max-width: 768px) {
  .menu-items {
    display: none; /* Oculta os itens do menu em telas pequenas */
    flex-direction: column;
    position: absolute;
    top: 100%; /* Posiciona o menu abaixo da logo */
    right: 0;
    background-color: #C92C4E;
    width: 100%;
    padding: 1rem;
    gap: 1rem;
    z-index: 5; /* Certifique-se de que o menu está acima de outros elementos */
  }

  .menu-items.open {
    display: flex; /* Exibe o menu quando está aberto */
  }

  .menu-button {
    display: block; /* Exibe o menu sanduíche em telas pequenas */
    position: relative;
    z-index: 10;
  }

  .toolbar {
    flex-direction: row; /* Certifique-se de que a logo e o botão fiquem alinhados */
  }

  .logo {
    flex-shrink: 0; /* Garante que a logo não seja comprimida */
    height: 5rem; /* Ajuste conforme necessário */
  }
}
